* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pre_Regular";
  font-weight: normal;
  color: #333;
}

ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background-color: #f0e9d2;
  color: #000;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
  background-color: #babfc3;
  border-radius: 100px;
}
* {
  scrollbar-color: #d4aa70 #e4e4e4;
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
body {
  background-color: #111;
}
/* 폰트 */
@font-face {
  font-family: "pre_Thin";
  src: url("font/Pretendard-Thin.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pre_Regular";
  src: url("font/Pretendard-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pre_Medium";
  src: url("font/Pretendard-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pre_SemiBold";
  src: url("font/Pretendard-SemiBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pre_Bold";
  src: url("font/Pretendard-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pre_black";
  src: url("font/Pretendard-Black.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
